// MAIN THING 

.CodeImg {
    margin-top: 45px;
}

//

// CODE NAV BAR

.codeNavBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.codeNavBtn:hover {
    text-decoration: underline 2px solid #CC0063;
}

.codeNav {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}

//