// MAIN THING

.CakeImg {
    margin-top: 60px;
}

//

// CAKE NAV BAR

.cakeNavBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.cakeNavBtn:hover {
    text-decoration: underline 2px solid #CC0063;
}

.cakeNav {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}

//

// FIGMA & WEB BTN

.comingSoon {
    font-size: 15px;
    font-family: 'Bellota Text', cursive;
}

.figmaBtnTxt {
    font-size: 20px;
    color: black;
    font-family: 'Bellota Text', cursive;
    text-decoration: underline solid 2px #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.figmaBtnTxt:hover {
    box-shadow: inset 100px 0 0 0 #f0cde1;
}

//


// CAKE GROUP 

.cakeRow {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

//