// MAIN THINGS

.aboutContainer {
    margin-top: 65px;
}

//

// ABOUT NAV BAR

.aboutNavBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.aboutNavBtn:hover {
    text-decoration: underline 2px solid #CC0063;
}

.aboutNav {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}

//

// EMOJI 

.aboutEmoji {
    width: 250px;
    height: 250px;
    margin-top: 150px;
}

//

// ABOUT PARAGRAPH 

.helloTxt {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.helloInfo {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 560px;
}

.aboutRow {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}


//

// CONTACT PARAGRAPH 

.contactTxt {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.contactLine {
    display: flex;
    flex-direction: column;
}

.contactItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contactItem:hover {
    box-shadow: inset 265px 0 0 0 #f0cde1;
    color: black;
}

.linkedItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.linkedItem:hover {
    box-shadow: inset 115px 0 0 0 #f0cde1;
    color: black;
}

.emailIcon {
    padding-bottom: 5px;
}

.gitItem {
    color: black !important;
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.gitItem:hover {
    box-shadow: inset 100px 0 0 0 #f0cde1;
    color: black;
}

.gitIcon {
    padding-bottom: 5px;
    color: black !important;
}

.linkedIcon {
    padding-bottom: 5px;
}

//

// RESPONSIVENESS

@media screen and (max-width: 768px) {
    .helloTxt {
        font-size: 30px;
    }

    .helloInfo {
        font-size: 18px;
        width: 400px;
    }

    .aboutRow {
        gap: 20px;
    }

    .headshot2 {
        width: 200px;
        height: 200px;
    }

    .contactTxt {
        font-size: 30px;
    }

    .gitItem {
        font-size: 18px;
    }

    .linkedItem {
        font-size: 18px;
    }

    .contactItem {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {
    .headshot2 {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 380px) {
    .helloTxt {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .helloInfo {
        font-size: 15px;
        width: 350px;
        text-align: center;
    }

    .aboutRow {
        gap: 0;
    }

    .headshot2 {
        width: 150px;
        height: 150px;
    }

    .contactTxt {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .gitItem {
        font-size: 15px;
    }

    .linkedItem {
        font-size: 15px;
    }

    .contactItem {
        font-size: 15px;
    }

    .mobileIcon {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 325px) {
    .helloTxt {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .helloInfo {
        font-size: 15px;
        text-align: center;
        width: 315px;
    }

    .contactTxt {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .mobileIcon {
        text-align: center;
    }
}

//