.aboutContainer {
    margin-top: 65px;
}

.headshot2 {
    width: 250px;
    height: 250px;
    margin-top: 150px;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.helloTxt {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.helloInfo {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 560px;
}

.contactTxt {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.contactLine {
    display: flex;
    flex-direction: column;
}

.aboutRow {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}

.contactItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contactItem:hover {
    box-shadow: inset 265px 0 0 0 #f0cde1;
    color: black;
}

.linkedItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.linkedItem:hover {
    box-shadow: inset 115px 0 0 0 #f0cde1;
    color: black;
}

.emailIcon {
    padding-bottom: 5px;
}

.gitItem {
    color: black !important;
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.gitItem:hover {
    box-shadow: inset 100px 0 0 0 #f0cde1;
    color: black;
}

.gitIcon {
    padding-bottom: 5px;
    color: black !important;
}

.diffColor {
    color: black;
    text-decoration: underline solid 2px #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.linkedIcon {
    padding-bottom: 5px;
}

@media screen and (max-width: 1100px) {
    .aboutRow {
        gap: 60px;
    }
}

.abtBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}

.box {
    background-color: #E3D5CA;
    width: 100px;
    height: 100px;
}


