@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
/* font-family: 'Baskervville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');
/* font-family: 'Bellota Text', cursive; */

.aboutContainer {
    margin-top: 180px;
}

.helloTxt {
    font-family: 'Baskervville', serif;
    font-size: 40px;
}

.helloInfo {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 490px;
}

.contactTxt {
    font-family: 'Baskervville', serif;
    font-size: 40px;
}

.aboutRow {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}

.contactItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
}

.linkedItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 1px solid black;
}

.emailIcon {
    padding-bottom: 5px;
}

.gitItem {
    color: black;
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    text-decoration: underline 1px solid black;
}

.git {
    margin-top: 15px;
}

.gitIcon {
    padding-bottom: 5px;
}

.linkedIcon {
    padding-bottom: 5px;
}

@media screen and (max-width: 1100px) {
    .aboutRow {
        gap: 60px;
    }
}

.abtBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 1px solid black;
}