.aboutContainer {
    margin-top: 65px;
}

.headshot2 {
    width: 250px;
    height: 250px;
    margin-top: 150px;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.helloTxt {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.helloInfo {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 560px;
}

.contactTxt {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.contactLine {
    display: flex;
    flex-direction: column;
}

.aboutRow {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}

.contactItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contactItem:hover {
    box-shadow: inset 265px 0 0 0 #f0cde1;
    color: black;
}

.linkedItem {
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    max-width: 276px;
    color: black;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.linkedItem:hover {
    box-shadow: inset 115px 0 0 0 #f0cde1;
    color: black;
}

.emailIcon {
    padding-bottom: 5px;
}

.gitItem {
    color: black !important;
    font-family: 'Bellota Text', cursive;
    font-size: 20px;
    text-decoration: underline 2px solid #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.gitItem:hover {
    box-shadow: inset 100px 0 0 0 #f0cde1;
    color: black;
}

.gitIcon {
    padding-bottom: 5px;
    color: black !important;
}

.diffColor {
    color: black;
    text-decoration: underline solid 2px #CC0063;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.linkedIcon {
    padding-bottom: 5px;
}

.abtBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}

.box {
    background-color: #E3D5CA;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .helloTxt {
        font-size: 30px;
    }

    .helloInfo {
        font-size: 18px;
        width: 400px;
    }

    .aboutRow {
        gap: 20px;
    }

    .headshot2 {
        width: 200px;
        height: 200px;
    }

    .contactTxt {
        font-size: 30px;
    }

    .gitItem {
        font-size: 18px;
    }

    .linkedItem {
        font-size: 18px;
    }

    .contactItem {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {
    .headshot2 {
       margin-top: 0 !important;
    }
}

@media screen and (max-width: 380px) {
    .helloTxt {
        font-size: 20px;
        margin-left: 20px
    }

    .helloInfo {
        font-size: 15px;
        width: 350px;
        margin-left: 20px
    }

    .aboutRow {
        gap: 0;
    }

    .headshot2 {
        width: 150px;
        height: 150px;
    }

    .contactTxt {
        font-size: 20px;
        margin-left: 20px
    }

    .gitItem {
        font-size: 15px;
    }

    .linkedItem {
        font-size: 15px;
    }

    .contactItem {
        font-size: 15px;
    }

    .mobileIcon {
        margin-left: 20px;
    }
}
