.sideNavLink {
    list-style-type: none;
    font-family: 'Bellota Text', cursive;
}

.welcomeTxt {
    font-size: 45px;
    font-weight: 500;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 26px;
}

.sideLink {
    color: black;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.sideLink:hover {
    text-decoration: underline 2px solid #CC0063;
}

.sideNavDiv {
    margin-bottom: 20px !important;
}

.headshot {
    width: 250px;
    height: 250px;
}

.divRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 215px;
}

.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #cc0063;
    --color-2: #ff679b;
    --color-3: #910048;
}

.title-word-2 {
    --color-1: #ff4c6b;
    --color-2: #6c1d45;
    --color-3: #ff5cab;
}

.title-word-3 {
    --color-1: #6c1d45;
    --color-2: #910048;
    --color-3: #6c1d45;
}

.title-word-4 {
    --color-1: #ff679b;
    --color-2: #910048;
    --color-3: #cc0063;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}

@media screen and (max-width: 430px) {
    .divRow {
        margin-top: 0px !important;
        gap: 50px;
    }

    .welcomeTxt {
        text-align: center;
    }

    .sideNavDiv {
        text-align: center;
    }

    .headshot {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .divRow {
        gap: 2px;
    }
}

@media screen and (min-width: 2560px) {
    .divRow {
        margin-top: 360px;
    }
}