/* .projectContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
} */

.projetBtn {
    text-decoration: underline 2px solid #CC0063;
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.projectRow {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-left: 334px;
}

.projectContainer::-webkit-scrollbar {
    display: none;
}

.learnBtn {
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.learnBtn:hover {
    box-shadow: inset 100px 0 0 0 #f0cde1;
    color: black;
}

.projectTitle {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.projectInfo {
    font-size: 20px;
    font-family: 'Bellota Text', cursive;
}

.learnBtn {
    font-size: 15px;
    text-decoration: underline 2px solid #CC0063;
    font-family: 'Bellota Text', cursive;
}

.projectDiv {
    margin-top: 55px;
}

.codeProjectRow {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-left: 334px;
    margin-bottom: 100px;
}