// PROJECT NAV BAR

.projectsNavBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.projectsNavBtn:hover {
    text-decoration: underline 2px solid #CC0063;
}

.projectNav {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}

//

.projectContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 455px;
    scroll-behavior: smooth;
}

.emoji {
    width: 200px;
    height: 200px;
}

.emojiDiv {
    display: flex;
    justify-content: center;
}

.SCJOEprojectRow {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-left: 334px;
}

.projectRow {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-left: 334px;
}

.projectContainer::-webkit-scrollbar {
    display: none;
}

.learnBtn {
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.learnBtn:hover {
    box-shadow: inset 100px 0 0 0 #f0cde1;
}

.projectTitle {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.projectInfo {
    font-size: 20px;
    font-family: 'Bellota Text', cursive;
}

.learnBtn {
    font-size: 15px;
    text-decoration: underline 2px solid #CC0063;
    font-family: 'Bellota Text', cursive;
}

.projectDiv {
    margin-top: 55px;
}

.codeProjectRow {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-left: 334px;
    margin-bottom: 100px;
}


@media screen and (max-width: 768px) { 

    .SCJOEprojectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
        margin-left: 45px !important;
    }

    .projectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
        margin-left: 45px !important;
    }

    .codeProjectRow {
        margin-left: 0 !important;
        display: flex; 
        flex-wrap: nowrap;
        gap: 0 !important;
        margin-left: 45px !important;
    }

    .projectTitle {
        font-size: 30px;
    }

    .projectInfo {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {
    .SCJOEprojectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
    }

    .projectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
    }

    .codeProjectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
    }

    .mobileImg {
        width: 300px;
    }

    .projectTitle {
        font-size: 20px;
        margin-bottom: 0 !important;
    }

    .projectInfo {
        font-size: 15px;
        margin-bottom: 0 !important;
    }

    .learnBtn {
        font-size: 15px;
    }

    .projectDiv {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 380px) { 

    .projectContainer {
        height: 350px;
    }

    .SCJOEprojectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
    }

    .projectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
    }

    .codeProjectRow {
        margin-left: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 !important;
    }

    .mobileImg {
        width: 250px;
    }

    .projectTitle {
        font-size: 15px;
        margin-bottom: 0 !important;
    }

    .projectInfo {
        font-size: 12px;
        margin-bottom: 0 !important;
    }

    .learnBtn {
        font-size: 12px;
    }

    .projectDiv {
        margin-top: 30px !important;
    }
}