.portNavBtn {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.portNavBtn:hover {
    text-decoration: underline 2px solid #CC0063;
}

.portNav {
    font-family: 'Bellota Text', cursive;
    border: none;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline 2px solid #CC0063;
}