@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');
/* font-family: 'Bellota Text', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=DM+Serif+Display&display=swap');
/* font-family: 'DM Serif Display', serif; */

body {
  background-color: #EDEDE9 !important;
}

.navRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navBtn {
  font-family: 'Bellota Text', cursive;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

.navBtn:hover {
  text-decoration: underline 2px solid #CC0063;
}


